NEXT_PUBLIC_SIGNALING_SERVER=http://localhost:3002
BACKEND_URL=http://localhost:3002

#for server
# # The browser connects to this (MUST be your public domain)
# NEXT_PUBLIC_SIGNALING_SERVER=https://tsmeet.tanvirsoft.com

# # The Next.js server connects to this internally (localhost is fine here)
# BACKEND_URL=http://localhost:3002
